.list {
  margin: auto;
  ul {
    display: grid;
    gap: 2rem;
    padding: 0;
  }
}

.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

.card {
  list-style: none;
  border: 1px solid var(--border);
  background: var(--bg);

  a {
    padding: 1.5rem 2rem;
    display: block;
    color: var(--text);
    text-decoration: none;

    &:hover :global(.underline-animate.thin) {
      background-size: 100% 1px;
      color: var(--accent);
    }
  }

  .location {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-top: 0.5rem;
  }

  .header {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .meta {
    color: var(--text-secondary);
    margin-top: 0.75rem;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
