@use "@/styles/mixins" as *;

.contact {
  position: relative;
  background:#ebebeb;
  color:var(--text-dark);
  overflow: hidden;

  .content {
    padding-bottom:2rem;
  }

  h2 {
    font-size: clamp(1.75rem, 6vw, 3rem);
    line-height:normal;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 1.125rem;
    color:var(--text-dark);
    opacity:0.8;
    max-width: 450px;
    text-wrap:balance;
    @include respond-sm {
      font-size: 1rem;
    }

  }

  a {
    color: var(--accent);
    &:hover {
      font-weight:600;
    }
  }
  
  a:visited {
    color: var(--text-dark);
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    position: relative;

    .image {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}