// SCSS variables (for reuse in other SCSS files)
$accent: #f4b327;
$accent-hover: #f5a401;
$half-life:#f37b21;
$bg-light: rgb(245, 245, 245);
$bg-dark: #141414;
$text-light: #141414;
$text-dark: #efebe3;
$border-light: rgba(0, 0, 0, 0.1);
$border-dark: rgba(255, 255, 255, 0.1);
$overlay-gradient-light: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.75));
$overlay-gradient-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75));;

// Global CSS variables
:root {
  --bg: #{$bg-light};
  --text: #{$text-light};
  --text-dark:#{$text-light};
  --text-light:#{$text-dark};
  --text-secondary: lch(28.85% 0 296.81);
  --accent: #{$accent};
  --accent-hover: #{$accent-hover};
  --border:#{$border-light};
  --overlay-gradient: #{$overlay-gradient-light};
}

[data-theme="dark"] {
  --bg: #{$bg-dark};
  --text: #{$text-dark};
  --text-dark:#{$text-light};
  --text-light:#{$text-dark};
  --text-secondary: rgb(160, 160, 160);
  --accent: #{$accent};
  --accent-hover: #{$accent-hover};
  --border:#{$border-dark};
  --overlay-gradient: #{$overlay-gradient-dark};
}