// SCSS variables (for reuse in other SCSS files)
$accent: #f4b327;
$accent-hover: #ce9312;
$bg-light: #ffffff;
$bg-dark: #161616;
$text-light: #161616;
$text-dark: #ffffff;

// Global CSS variables
:root {
  --bg: #{$bg-light};
  --text: #{$text-light};
  --text-dark:#{$text-light};
  --text-light:#{$text-dark};
  --text-secondary: #444;
  --accent: #{$accent};
  --accent-hover: #{$accent-hover};
}

[data-theme="dark"] {
  --bg: #{$bg-dark};
  --text: #{$text-dark};
  --text-dark:#{$text-light};
  --text-light:#{$text-dark};
  --text-secondary: #ccc;
  --accent: #{$accent};
  --accent-hover: #{$accent-hover};
}