@use "@/styles/variables.scss";
@use "styles/mixins" as *;

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-source-sans), sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.underline-animate {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--accent);
    transition: width 0.3s ease;
  }

  &:hover::after,
  &:focus-visible::after {
    width: 100%;
  }
}