@use "@/styles/variables.scss";
@use "styles/mixins" as *;

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-source-sans), sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}