@use "@/styles/variables.scss";
@use "styles/mixins" as *;

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-source-sans), sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.underline-animate {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s, color 0.5s;

  &:hover,
  &:focus-visible {
    background-size: 100% 2px;
    color: var(--accent);
  }

  &.thin {
    background-size: 0% 1px;

    &:hover,
    &:focus-visible {
      background-size: 100% 1px;
      color: var(--accent);
    }
  }

  &.fast {
    transition: background-size 0.25s;

    &:hover,
    &:focus-visible {
      background-size: 100% 2px;
      color: var(--accent);
    }
  }
}
