.main {
  .intro {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:2rem;
    padding:0px 0px;
    top:-185px;
    // margin-bottom: -50px;
    position:relative;
    z-index: 2;
    h2 {
      font-size:clamp(1.5rem, 8vw, 3.5rem);
      font-weight:500;
      line-height: 125%;
      em {
        color:var(--accent);
      }
    }
    p {
      font-size:1.125rem;
      text-wrap:pretty;
      max-width:800px;
    }
  }
  .highlight {
    padding:0px 0px 12rem 0px!important;
  }
}