.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg);
  border: 1px solid var(--border);
  overflow: hidden;
  color: var(--text2);
  height: 100%;
  text-decoration: none;

  // &:hover {
  //   border-color:var(--text);
  // }

  &:hover :global(.underline-animate.thin) {
    background-size: 100% 1px;
    color:var(--accent);
  }
}

.imageWrapper {
  display: block;
  position: relative;
  width: 100%;
  height:180px;
  aspect-ratio: 16 / 9;

  img {
    object-fit: cover;
  }
}

.content {
  flex: 1;
  padding: 1rem;
  display:flex;
  flex-direction: column;
  gap:1.25rem;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: normal;
    width: fit-content;
    a {
      text-decoration: none;
      color:var(--text);
    }
  }
  p {
    padding-bottom:10px;
    opacity:0.8;
    font-size:0.875rem;
    line-height: normal;
    text-wrap: pretty;
  }
}
