$max-width: 700px;

.container {
  min-height:100vh;
  margin-bottom:4rem;
  padding-inline:1rem;
}

.post {
  max-width: $max-width;
  margin:75px auto 0rem;
  color: var(--text2);
  line-height: 1.6;
  padding-bottom:4rem;

  h1 {
    font-size: clamp(1.25rem, 6vw, 2rem);
    font-weight:600;
    line-height: normal;
    margin: 1rem 0 0.5rem;
    color: var(--accent1);
    text-wrap:balance;
    text-align: center;
    text-transform: uppercase;
  }

  .date {
    font-size: 0.9rem;
    font-weight:400;
    color: var(--text2);
    opacity: 0.6;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-height:600px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 2rem;

  .image {
    object-fit: cover;
    object-position: center;
  }
}


.postNav {
  max-width: $max-width;
  margin:4rem auto 0rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.prevItem, .nextItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  max-width: 200px;
  gap:0.5rem;

  span {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.2;
    display:flex;
    align-items: center;
    gap:0.5rem;
    svg {
      width: 1em;
      height: 1em;
    }
  }

  &:hover { 
    .thumbnail, .navTitle {
    opacity: 0.8;
  }
  .next, .prev {
    color: var(--accent);
  }
}
}

.nextItem {
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}

.next, .prev {
  color:var(--text);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  svg {
    color:var(--accent)
  }
}

.thumbnail {
  object-fit: cover;
}