@use "@/styles/mixins" as *;

.highlight {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: var(--bg);
  color: var(--text);
  overflow: visible;
  text-align: left;

  @include respond-md {
    flex-direction: column;
  }
}

.imageWrapper {
  position: relative;
  flex: 1 1 0;
  aspect-ratio: 3 / 2;
  min-height: 100%;
  order: 2;

  @include respond-md {
    width: 100%;
    min-height: 200px;
    order: 1;
  }
}

.image {
  object-fit: cover;

  @include respond-md {
    border-bottom: none;
  }
}

.content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;

  @include respond-md {
    order: 2;
  }

  h2 {
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.button {
  align-self: flex-start;
  text-decoration: none;
  padding: .5em 1.2em;

  @include respond-md {
    align-self: center;
  }
}

.bgImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.03;
  pointer-events: none;
  @include respond-md {
    display: none;
  }
}