@use "@/styles/mixins" as *;

$background-transition: background 1s ease;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  gap: 4rem;
  color: var(--text);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease, $background-transition, backdrop-filter 0s ease;

  @include respond-md {
    padding: 0.5em 1em;
  }

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  .logo {
    svg {
      color: var(--text);
      width: 100%;
    }
    @media (hover: hover) {
      &:hover {
        svg {
          color: var(--accent);
        }
      }
    }
    .logoIcon {
      display: none;
      width: 0px;
      @include respond-md {
        display: block;
        width: 35px;
        height: auto;
      }
    }
    .logoFull {
      display: block;
      max-width: 200px;
      width: 100%;
      height: auto;

      @include respond-md {
        display: none;
        width: 0;
      }
    }
  }

  .links {
    display: flex;
    gap: 2em;
    align-items: center;

    a {
      color: var(--text);
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      [data-theme="light"] & {
        color: var(--text-dark);
      }
    }

    .button {
      color: var(--text-dark);
      padding: 0.5em 1.2em;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }

    @include respond-md {
      display: none;
    }
  }
}

.solid {
  background: var(--bg-transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.transparent {
  background: transparent;
  // transition: transform 0.3s ease, opacity 0.3s ease, $background-transition;
  &[data-home="true"] {
    a,
    svg {
      color: var(--text-dark);
    }
    .hamburger span {
      background: var(--text-dark);
    }
    &.menuOpen {
      .hamburger span {
        background: var((--text));
      }
    }
  }
}

// menu button
.menuButton {
  display: none;
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;

  @include respond-md {
    display: flex;
  }
}

.menuIcon {
  position: relative;
  width: 100%;
  height: 100%;

  .menuCheckbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    inset: 0;
    margin: auto;
    width: 22px;
    height: 12px;
    z-index: 1;
  }

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text);
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    transform-origin: center;

    &:first-of-type {
      top: 0;
    }

    &:last-of-type {
      bottom: 0;
      width: 14px;
    }
  }

  .menuCheckbox:checked + div {
    span:first-of-type {
      transform: rotate(-45deg);
      top: 5px;
    }

    span:last-of-type {
      transform: rotate(45deg);
      bottom: 5px;
      width: 22px;
    }
  }
  @media (hover: hover) {
    &:hover {
      span {
        background-color: var(--accent) !important;
      }
    }
  }
}

.menuOpen {
  .logo svg {
    color: var(--text);
    @media (hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }
  .menuIcon span {
    background: var(--text);
    @media (hover: hover) {
      &:hover {
        background: var(--accent);
      }
    }
  }
}
